:root{

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfe5eb;
}

.form_section form{
    grid-template-columns: 1fr auto;
}
#cards_container{
    gap: 35px;
}
.card{
    border-radius: 35px;
    height: 320px;
    /* width: 18rem; */
}